language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

install:
  - composer install

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    - contacto@davidmartinez.net