<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="wordpress-plugin-feed">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="reports/coverage.xml"/>
        <log type="junit" target="reports/logfile.xml" logIncompleteSkipped="false"/>
    </logging>
    <php>
        <ini name="zend.enable_gc" value="Off" />
    </php>
</phpunit>
